@model GYMWebApp.DAL.Antreman

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Sil</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Antreman</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HareketAltGrubu.HarAltGrupAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HareketAltGrubu.HarAltGrupAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sporcu.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sporcu.Adi)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Geri Dön", "Index")
        </div>
    }
</div>
